<style>
	div {
		text-align: -webkit-center;
	}
</style>

<div class="jumbotron" >

	<h1>Create Reimbursement Request</h1>
	<div class="form-group col-3">
		<input type="number" id="amount" placeholder="Amount"> 
		<input type="text" id="description" placeholder="Description">
		<select class="form-control" id="type">
			<option value="1">Lodging</option>
			<option value="2">Travel</option>
			<option value="3">Food</option>
			<option value="4">Other</option>
		</select>
		<button id="createReimBtn">Create Reimbursement</button>
	</div>

	<script>
		$(() => {
			loadReimbursements()
			$('#createReimBtn').on('click', createReim);
		})
		
 		function createReim () {
			console.log('created')
			var time = new Date().getTime()
			var obj = {
				amount: $('#amount').val(),
				submitted: time,
				description: $('#description').val(),
				type_id: $('#type').val()
			}
			var toSend = JSON.stringify(obj);
			console.log(toSend)
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4){
					loadReimbursements2();
				}
			}
			
			xhr.open("POST", "reimbursement", true);
			xhr.setRequestHeader("Content-Type", "application/json");
			xhr.send(toSend);
		}
		
		function loadReimbursements () {
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4 && xhr.status == 200){
					reimbursements = JSON.parse(xhr.responseText);
					for(let r of reimbursements) {
						reimbursementList(r)
					}
				}
			}
			xhr.open("GET", "employee");
			xhr.send();
		}
		
		function loadReimbursements2 () {
			var xhr = new XMLHttpRequest();
			xhr.onreadystatechange = function(){
				if(xhr.readyState == 4 && xhr.status == 200){
					reimbursements = JSON.parse(xhr.responseText);
					let r = reimbursements.pop()
					reimbursementList(r)
				}
			}
			xhr.open("GET", "employee");
			xhr.send();
		}
		
		function reimbursementList (r) {
			console.log('generating list')
			let sId = ""
			let tId = ""
			let date = new Date(r.submitted)
			if (r.status_id === 1) {
				sId = "Pending"
			} else if (r.status_id === 2) {
				sId = "Approved"
			} else if (r.status_id === 3) {
				sId = "Denied"
			}
 			if (r.type_id === 1) {
				tId = "Lodging"
			} else if (r.type_id === 2) {
				tId = "Travel"
			} else if (r.type_id === 3) {
				tId = "Food"
			} else if (r.type_id === 4) {
				tId = "Other"
			}
			var data = $(`
				<tr>
					<th scope="row">${r.id}</th>
					<td>${r.amount}</td>
					<td>${date}</td>
					<td>${r.resolved}</td>
					<td>${r.description}</td>
					<td>${r.author}</td>
					<td>${r.resolver}</td>
					<td>${sId}</td>
					<td>${tId}</td>
				</tr>
			`)
			$('#reimbursementsList').append(data);
		}
	</script>


	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Amount</th>
				<th scope="col">Submitted</th>
				<th scope="col">Resolved</th>
				<th scope="col">Description</th>
				<th scope="col">Author</th>
				<th scope="col">Resolver</th>
				<th scope="col">Status</th>
				<th scope="col">Type</th>
			</tr>
		</thead>
		<tbody id='reimbursementsList'>

		</tbody>
	</table>


</div>