<style>
	#homePageDiv img {
		width: 100vw;
		height:100vh
	}
	#homePageDiv h1 {
		position: absolute;
		left: 10vw;
		bottom: 40vh;
		font-size: 10vh;
	}
</style>

<div id="homePageDiv">
	<h1>Quik Reims</h1>
	<div id="carouselExampleSlidesOnly" class="carousel slide"
		data-ride="carousel">
		<div class="carousel-inner">
			<div class="carousel-item active">
				<img class="d-block w-100"
					src="https://images.unsplash.com/photo-1513530534585-c7b1394c6d51?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c24dc5484049d18a5eec532614ad7636&auto=format&fit=crop&w=2102&q=80"
					alt="First slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100"
					src="https://images.unsplash.com/photo-1529632508185-e256a30fde4e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=14a221ca72e3da21a760fcfad1f65d48&auto=format&fit=crop&w=2250&q=80"
					alt="Second slide">
			</div>
			<div class="carousel-item">
				<img class="d-block w-100"
					src="https://images.unsplash.com/photo-1495465798138-718f86d1a4bc?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7d52b2e80ad6c4fee159bd8284f58a31&auto=format&fit=crop&w=2250&q=80"
					alt="Third slide">
			</div>
		</div>
	</div>


</div>