<div>

	<button id="createReimBtn">Create Reimbursement</button>

	<table class="table">
		<thead>
			<tr>
				<th scope="col">Id</th>
				<th scope="col">Amount</th>
				<th scope="col">Submitted</th>
				<th scope="col">Resolved</th>
				<th scope="col">Description</th>
				<th scope="col">Author</th>
				<th scope="col">Resolver</th>
				<th scope="col">Status</th>
				<th scope="col">Type</th>
				<th scope="col">Approve/Deny</th>
			</tr>
		</thead>
		<tbody id='reimbursementsList'>

		</tbody>
	</table>
</div>